:root {
  --info: #b39656;
  --desc: #666;
}

.singlePost {
  flex: 9;
}

.singlePostWrapper {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  padding-right: 0;
}

.singlePostImg {
  width: 100%;
  height: 18.5rem;
  border-radius: 5px;
  object-fit: cover;
}

.singlePostTitle {
  font-family: 'Lora', serif;
  font-size: 1.8rem;
  text-align: center;
  margin: .6rem;
}

.singlePostTitleInput {
    font-size: 1.8rem;
    text-align: center;
    margin: .6rem;
    border: none;
    border-bottom: 1px solid lightgray;
    color: gray;
}

.singlePostTitleInput:focus {
  outline: none;
}

.singlePostEdit {
  float: right;
  font-size: 1rem;
}

.singlePostIcon {
  margin-left: .8rem;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}

.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-family: 'Varela Round', sans-serif;
  margin-bottom: 1.25rem;
  color: var(--info);
}

.singlePostDesc {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: var(--desc);
}

.singlePostDesc::first-letter {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Lora', serif;
  margin-left: 1.25rem;
}

.singlePostDescInput {
  height: 100vh;
  font-size: 1.1rem;
  line-height: 1.5rem;
  border: none;
  color: var(--desc);
}

.singlePostDescInput:focus {
  outline: none;
}

.singlePostBtn {
  width: 6rem;
  align-self: flex-end;
  background: teal;
  color: white;
  margin-top: 1.5rem;
  padding: .3rem;
  border: none;
  border-radius: .3rem;
  cursor: pointer;
}

@media screen and (max-width: 730px) {
  .singlePostWrapper {
    padding-right: 1.25rem
  }
}